h1{
    text-align: center;
}
.form-container{
    max-width: 650px;
    border: solid 1px grey;
    margin: auto;
}
#beautiful-form{
    display: flex;
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    width: 250px;
    margin: 10px 0 10px 0;
}